* {}
body {
  font-family: "Hiragino Kaku Gothic ProN","Meiryo", sans-serif;
  color:#000;
  background-color:#f9f8f6;
  font-size: 12px;
  font-size: 1.2rem;
}
ul {
  list-style-type: none;
  margin: 0;
}
div,section {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
a { 
  color: #000;
  text-decoration: none;
}
a:hover { 
  color: #b0b0b0;
}
.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
}
input::-webkit-input-placeholder {
  color: #b0b0b0;
  font-style: italic;
}
input:-moz-placeholder {
  color: #b0b0b0;
  font-style: italic;
}
ul, li {
  margin:0;
  padding:0;
}
/****
 Color 
****/
/***
#f9f8f6
#887f69
#e2ddd4
#b0b0b0
#9d1a2d
***/
.c696969 {background-color:#696969;}
.khaki {background-color: khaki;}
.cEEE {background-color: deepskyblue;}
.c848484 {background-color: orange;}

/****
 Container
****/
#cont-header {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}
#main-box {max-width: 700px;}
.container {}
#side-bar {min-width: 219px;}
#cont-footer {
  margin-top: 60px;
  margin-bottom: 100px;
}

/*****
  Header
*****/
#header-logo img {width: 120px;}
#header-menu img {width: 100%;}
#header-menu #menu {
  position: absolute;
  right:0;
  bottom:0;
  text-align: right;
}
#header-menu #icons li,
#header-menu #menu li {
  display: inline-block;
  line-height: 8px;
}
#header-menu #menu li a {
  padding-left: 18px;
  display: block;
}
#header-menu #menu li:last-child a {
  padding-left: 10px;
}

/*****
  Side Bar : #cont-main #side-bar
*****/
.side-block {
  margin-bottom: 8px;
}

.side-block h5 {
  position: relative;
  margin-bottom: 1px;
  background-color: #887f69;
  height: 45px;
}
.side-block h5[class^="tabtitle-"]:before {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -22px;
}
.side-block h5.tabtitle-pagelink:before {content: url(../images/top/pagelink.png);}
.side-block h5.tabtitle-categories:before {content: url(../images/top/categories.png);}
.side-block h5.tabtitle-about:before {content: url(../images/top/about.png);}
.side-block h5.tabtitle-shop_info:before {content: url(../images/top/shop_info.png);}
.side-block h5.down:after,
.side-block h5.allow:after {
  content: url(../images/top/next_icon.png);
  position: absolute;
  top: 50%;
  right: 13px;
  margin-top: -19px;
}
.side-block h5.down:after {content: url(../images/top/down_icon.png);}
.side-block h5 img {
  margin-left: 15px;
}

.side-block ul {}
.side-block ul > li {
  position: relative;
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  margin-bottom: 2px;
  background-color: #FFF;
}
.side-block ul li:after {
  content: url(../images/top/next_icon_gray.png);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -20px;
}

.side-block-item {
  padding: 10px 10px 5px 10px;
  background-color: #FFF;
  text-align: center;
}
.side-block-item img {width: 100%;}
.side-block-item-info {
  text-align: left;
  word-wrap: break-word;
}

/*** search ***/
.side-block-item.search {
  padding: 15px 22px 5px 22px;
  text-align: left;
}
.side-block-item.search img.tab-search {
  width: 89px;
}
.side-block-item.search input.search {
  box-sizing: border-box;
  width: 144px; /**width: 178px;**/
  height: 30px;
  margin:0;
  padding:0;
  padding-left: 10px;
  float:left;

  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border:0px;

  background-color: #eeeeee;
}
.side-block-item.search input.search-submit {
  box-sizing: border-box;
  float:left;
  width: 30px;
  height: 30px;
  padding: 7px;
  background-color: #eeeeee;
}


/****
.side-block-item-info button.btn-more {
  width: 101px;
  height: 60px;
  display: block;
  text-align: center;
  vertical-align: top;
  margin: 5px auto;
  border-radius: 30px 30px 30px 30px;
  background-color: #887f69;
  color: #FFF;
}
*****/
.side-block-item img.more {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 101px;
}


/*****
  Footer : #cont-footer
*****/
#page-top {
  height: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid #887f69;

  text-align: right;
}
#footer-navi {
  margin-bottom: 20px;
  text-align: center;
}
#footer-navi a {
  color: #000;
}
#copyright {
  text-align:center;
  font-size: 10px;
  font-size: 1.0rem;
  color: #b0b0b0;
}


/***** TOP PAGE *****/

/****
 owlcarousel
******/
#eye-catch {
  height: 280px;
  margin-bottom: 20px;
}
.owl-theme .owl-dots {
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 10px 5px 0px;
  background: #aaaaaa;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  width:28px;
  height:2px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #9d1a2d;
}

.item-container-top {}
.item-container-top .item-box p.item-info,
.item-container-top .item-box p.item-price,
.item-container-top .item-boxs,
.item-container-top {
  margin:0;
  padding:0;
}
.item-container-top .item-container-top-tab {
  margin: 30px 0;
}
.item-container-top .item-boxs {}
.item-container-top .item-box {
  min-width: 232px;
  margin: 0;
  margin-bottom: 2px;
  padding: 15px;
  background-color: #FFF;

  color:#000;
}
.item-container-top .item-box.item-box-center {
  margin-right: 2px;
  margin-left: 2px;
}
.item-container-top .item-box img {
  width: 100%;
}
.item-container-top .item-box p.item-info {
  font-size: 12px;
  font-size: 1.2rem;
}
.item-container-top .item-box p.item-price {
  font-size: 12px;
  font-size: 1.2rem;
}

.item-container-top .item-boxs2 {
  width: 690px;
  background-color: #696969;
  
}
.item-container-top .item-box-guide {
  margin:0;
  padding: 20px;
  /*min-height: 290px;*/
  width:347px;
  height:264px;
  background-color: #FFF;
}
.item-container-top .item-box-guide.right {
margin-left:6px;
}
.item-container-top .item-box-guide h3 {
  color: #887f69;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}
.item-container-top .item-box-guide h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #887f69;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}
.item-container-top .item-box-guide .guide-info {
  margin: 5px 0;
  color: #000;
  font-size: 11px;
  font-size: 1.1rem;
}
.item-container-top .item-box-guide .img-cards {
  width: 100%;
}

/***** LIST PAGE *****/
#bread {
  box-sizing: border-box;
  height:34px;
  margin-bottom: 10px;
  background-color: #e8e4da;
  border-radius: 3px;
  padding: 10px;
  color: #887f69;
}
#bread ul li {
  display: inline-block;
}
#bread ul li span.sep {
  color: #abb4bf;
}

#cat-banner {
  margin-bottom: 10px;
  height:170px;
}
#cat-banner img {
  width:100%;
}

.pager {
  box-sizing: border-box;
  display: block;
  width: 121px;
  height: 40px;
  margin-top: 20px;
  padding: 14px 40px;
  line-height: 14px;
  
  background-color: #887f69;
  color: #FFF;
  font-weight: bold;
}
.pager.back {float:left;}
.pager.next {float:right;}

/***** PRODUCT PAGE *****/
#item-details {
  box-sizing: border-box;
  height: 1313px;
  padding: 40px 60px;
  background-color: #FFFFFF;
}

#item-details h1.item-name {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
.item-number{
  color:#a6a6a6;
  text-align: right;
  font-size: 10px;
  font-size: 1.0rem;
}
/*
#item-details h1 > small {
  display:block;
  color:#a6a6a6;
  right:0px;
  font-weight: normal;
  text-align: right;
  font-size: 10px;
  font-size: 1.0rem;
  background-color: #EEE;
}
*/
#item-details > div {
  margin:0;
  padding:0;
  margin-bottom: 10px;
}
.slider-box {
  height: 480px;
  width: 100%;
  padding:40px 0;
  background-color: #EEE;
  border-top: 1px solid #e3e8cf;
}
#display-img img {
  width: 200px;
}
#list-img li {
  list-style: none;
  display: inline-block;
}
#list-img li img {
  width: 50px;
  cursor: pointer;
}

.item-color {
  border-top: 1px solid #e3e8cf;
}
.item-color table {
  width: 100%;
  border-top: 1px solid #e2ddd4;
  border-right: 1px solid #e2ddd4;
}
.item-color table th,
.item-color table td {
  border-left: 1px solid #e2ddd4;
  text-align: center;
  font-weight: normal;
  color: #887f69;
}
.item-color table th {
  background-color: #f9f9f5;
}
input[type=checkbox] {
  display: none;
}
.check_css {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 0 0 0 42px;
  vertical-align: middle;
  cursor: pointer;
}
.check_css:hover:after {
  border-color: #0171bd;
}
.check_css:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #e2ddd4;
  /*border-radius: 6px;*/
  border-radius: 0px;
  content: '';
}
.check_css:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #0171bd;
  border-bottom: 3px solid #0171bd;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=checkbox]:checked + .check_css:before {
  opacity: 1;
}

.item-quantity {
  height:200px;
  background-color: #EEE;
}
.add-cart {
  float:right;
}
.add-cart img {
  min-width: 225px;
  width:100%;
}
.item-description {
  height:200px;
  background-color: #EEE;
  border-top: 1px solid #e3e8cf;
}
.item-description h3 {
  padding: 20px 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #887f69;
}
img.tab {
  padding: 20px 0;
}
div.tab {
  padding: 20px 0;
  border-top: 1px solid #e3e8cf;
}



