html, * {
  margin:0;
  padding:0;
}
body {
  font-family: "Hiragino Kaku Gothic ProN","Meiryo", sans-serif;
  color:#000;
  background-color:#f9f8f6;
  font-size: 12px;
  font-size: 1.2rem;
}
.sp {display:none;}

ul {
  list-style-type: none;
  margin: 0;
}
div,section {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
a { 
  color: #000;
  text-decoration: none;
}
a:hover { 
  color: #b0b0b0;
}
.right {float:right;}
.left {float:left;}
.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
}
input::-webkit-input-placeholder {
  color: #b0b0b0;
  font-style: italic;
}
input:-moz-placeholder {
  color: #b0b0b0;
  font-style: italic;
}
ul, li {
  margin:0;
  padding:0;
}

/****
 Color 
****/
/***
#f9f8f6
#887f69
#e2ddd4
#b0b0b0
#9d1a2d
***/
.c696969 {background-color:#696969;}
.khaki {background-color: khaki;}
.cEEE {background-color: deepskyblue;}
.c848484 {background-color: orange;}

/****
 Container
****/
#cont-header {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}
#cont-main {}
#main-box {
  max-width: 700px;
}
.container {margin:0 auto;padding:0;}
@media screen and (min-width: 641px) {
	.container{
	  min-width: 960px;
	}
}
#side-bar {
  min-width: 219px;
  text-align:left;
}
#cont-footer {
  margin-top: 60px;
  margin-bottom: 160px;
}

/*****
  Header
*****/
#header-logo img {width: 120px;}
#header-menu img {width: 100%;}
#header-menu #menu {
  position: absolute;
  right:0;
  bottom:0;
  text-align: right;
}
#header-menu #icons li,
#header-menu #menu li {
  display: inline-block;
  line-height: 8px;
}
#header-menu #menu li a {
  padding-left: 18px;
  display: block;
}
#header-menu #menu li:last-child a {
  padding-left: 10px;
}

/*****
  Side Bar : #side-bar
*****/
.side-block {
  margin-bottom: 8px;
}

.side-block .block-tab {
  position: relative;
  padding: 15px;
  margin-bottom: 1px;
  background-color: #887f69;
}
.side-block .block-tab img {margin:0;padding:0;}
.side-block .block-tab.tabtitle-pagelink:before {content: url(../images/top/pagelink.png);}
.side-block .block-tab.tabtitle-categories:before {content: url(../images/top/categories.png);}
.side-block .block-tab.tabtitle-about:before {content: url(../images/top/about.png);}
.side-block .block-tab.tabtitle-shop_info:before {content: url(../images/top/shop_info.png);}
.side-block .block-tab.allow:after {content: url(../images/top/next_icon.png);}
.side-block .block-tab.down:after {content: url(../images/top/down_icon.png);}
.side-block .block-tab.down:after,
.side-block .block-tab.allow:after {
  position: absolute;
  right: 15px;
}


.side-block ul {}
.side-block ul > li {
  position: relative;
  padding: 15px;
  margin-bottom: 2px;
  background-color: #FFF;
}
.side-block ul li:after {
  position: absolute;
  content: url(../images/top/next_icon_gray.png);
  right: 15px;
}


.side-block-item {
  padding: 10px 10px 5px 10px;
  background-color: #FFF;
  text-align: center;
}
.side-block-item img {width: 100%;}
.side-block-item-info {
  text-align: left;
  word-wrap: break-word;
}

/*** search ***/
.side-block-item.search {
  padding: 15px 22px 5px 22px;
  text-align: left;
}
.side-block-item.search img.tab-search {
  width: 89px;
}
.side-block-item.search input.search {
  box-sizing: border-box;
  width: 144px;
  height: 30px;
  margin:0;
  padding:0;
  padding-left: 10px;
  float:left;

  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border:0px;

  background-color: #eeeeee;
}
.side-block-item.search input.search-submit {
  box-sizing: border-box;
  float:left;
  width: 30px;
  height: 30px;
  padding: 7px;
  background-color: #eeeeee;
}


/****
.side-block-item-info button.btn-more {
  width: 101px;
  height: 60px;
  display: block;
  text-align: center;
  vertical-align: top;
  margin: 5px auto;
  border-radius: 30px 30px 30px 30px;
  background-color: #887f69;
  color: #FFF;
}
*****/
.side-block-item-info a {
  display: block;
  text-align: center;
  margin: 20px auto;
}
.side-block-item img.more {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 101px;
}


/*****
  Footer : #cont-footer
*****/
#page-top {
  padding: 15px 0;
  text-align: right;
}
#footer-navi {
  border-top: 1px solid #887f69;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#footer-navi a {
  color: #000;
}
#copyright {
  text-align:center;
  font-size: 10px;
  font-size: 1.0rem;
  color: #b0b0b0;
}


/***** TOP PAGE *****/

/****
 owlcarousel
******/
#eye-catch {
  /*height: 280px;*/
  /*margin-bottom: 20px;*/
}
/*.item-container-top.top-cont {position:relative;background-color:#696969;}*/
.owl-theme .owl-dots {
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 10px 5px 0px;
  background: #aaaaaa;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  width:28px;
  height:2px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #9d1a2d;
}

.item-container-top {}
.item-container-top .item-box p.item-info,
.item-container-top .item-box p.item-price,
.item-container-top .item-boxs,
.item-container-top {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.item-container-top .item-container-top-tab {
  margin: 20px 0;
}
.item-container-top .item-boxs {}
.item-container-top .item-box {
  min-width: 232px;
  margin: 0;
  margin-bottom: 2px;
  padding: 15px;
  background-color: #FFF;

  color:#000;
}
.item-container-top .item-box.item-box-center {
  margin-right: 2px;
  margin-left: 2px;
}
.item-container-top .item-box img {
  width: 100%;
}
.item-container-top .item-box p.item-info {
  font-size: 12px;
  font-size: 1.2rem;
}
.item-container-top .item-box p.item-price {
  margin:15px 0;
  font-size: 12px;
  font-size: 1.2rem;
}

.item-container-top .item-boxs2 {
  width: 690px;
}
.item-container-top .item-box-guide {
  margin:0;
  padding: 20px;
  width:347px;
  height:264px;
  background-color: #FFF;
}
.item-container-top .item-box-guide.right {
  margin-left:6px;
}
.item-container-top .item-box-guide h3 {
  color: #887f69;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}
.item-container-top .item-box-guide h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #887f69;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}
.item-container-top .item-box-guide .guide-info {
  margin: 5px 0;
  color: #000;
  font-size: 11px;
  font-size: 1.1rem;
}
.item-container-top .item-box-guide .img-cards {
  width: 100%;
}

/***** LIST PAGE *****/
#bread {
  box-sizing: border-box;
  height:34px;
  margin-bottom: 10px;
  background-color: #e8e4da;
  border-radius: 3px;
  padding: 10px;
  color: #887f69;
}
#bread ul li {
  display: inline-block;
}
#bread ul li span.sep {
  color: #abb4bf;
}

#cat-banner {
  margin-bottom: 10px;
  height:170px;
}
#cat-banner img {
  width:100%;
}

.pager {
  box-sizing: border-box;
  display: block;
  width: 121px;
  height: 40px;
  margin-top: 20px;
  padding: 14px 40px;
  line-height: 14px;
  
  background-color: #887f69;
  color: #FFF;
  font-weight: bold;
}
.pager.back {float:left;}
.pager.next {float:right;}

/***** PRODUCT PAGE *****/
#item-details {
  box-sizing: border-box;
  padding: 40px 60px;
  background-color: #FFFFFF;
}

h1.item-name {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}

.item-number {
  color:#a6a6a6;
  text-align: right;
  font-size: 10px;
  font-size: 1.0rem;
}
#item-details > div {
  margin:0;
  padding:0;
}
.slider-box {
  min-width: 510px;
  padding:40px 0;
  border-top: 1px solid #e3e8cf;
}
#display-img {
  width: 410px;
  margin:0;
  margin-top: 40px;
}
#display-img img {
  width: 100%;
}
#list-img {
  text-align: right;
  width: 170px;
  margin:0;
  margin-top: 40px;
}
#list-img li {
  margin:0;
  padding:0;
  width: 75.28px;
  height: 75.46px;
  margin-left: 6px;
  margin-bottom: 8.175px;
  list-style: none;
  display: inline-block;
}
#list-img li img {
  width: 100%;
  margin:0;
  cursor: pointer;
}

.item-color {
  border-top: 1px solid #e3e8cf;
}
.item-color > img {
  padding: 20px 0;
}
.item-description table,
.item-color table {
  width: 100%;
  border-top: 1px solid #e2ddd4;
  border-right: 1px solid #e2ddd4;
}
.item-description table th,
.item-description table td,
.item-color table th,
.item-color table td {
  border-left: 1px solid #e2ddd4;
  text-align: center;
  font-weight: normal;
  color: #887f69;
}
.item-description table th,
.item-color table td,
.item-color table th {
  width:33.3%;
  margin:0;
  text-align: center;
}
.item-description table th,
.item-color table th {
  background-color: #f9f9f5;
}
.item-description table th {
  width:25%;
}


input[type=radio] {
  display: none;
}
.check_css {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 0 0 0 60px;
  vertical-align: middle;
  cursor: pointer;
}
.check_css:hover:after {
  border-color: #887f69;
}
.check_css:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 1px solid #e2ddd4;
  border-radius: 0px;
  content: '';
}
.check_css:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 1px solid #887f69;
  border-bottom: 1px solid #887f69;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=radio]:checked + .check_css:before {
  opacity: 1;
}

.item-quantity {
  margin:0;
  padding:0;
}
.item-quantity > div.quantity-block {
  border-top: 1px solid #e3e8cf;
  height: 75px;
  padding: 10px 0;
}
.item-quantity > div > p {
  margin:0;
  padding:0;
}
.item-quantity > div > p.title {
  margin: 20px 0;
  width: 120px;
}
.item-quantity > div > p.value-area {margin: 10px 0;}
.item-quantity > div > p.value-area span {font-style: italic;}
.item-quantity > div > p.value-area span.yen {color:#e80f66;font-size:14px;}
.item-quantity > div > p.value-area span.price {color:#e80f66;font-size:22px;}
.item-quantity > div > p.value-area span.tax {color:#000;font-size:14px;}
.item-quantity > div > p > input.text {
  border-radius: 0px;
  margin:0;
  padding: 10px;
}

.add-cart {
  float: right;
}
.add-cart img {
  min-width: 225px;
  width: 100%;
}


.item-description {
  border-top: 1px solid #e3e8cf;
}
.item-description h3 {
  padding: 30px 0 0px 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #887f69;
}
.item-description h4 {
  padding: 30px 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #887f69;
  border-top: 1px solid #887f69;
  margin:0;
}
.item-description p {
  font-size: 14px;
  font-size: 1.4rem;
}


@media screen and (max-width: 640px) {

	html {margin:0;padding:0;}
	body {
	  width: 100%;
	  text-align: center;
	  margin:0;
	  padding:0;
	}
	.pc { display:none; }
	.sp { display:inline; }
	.block-center { width:100%; }

	/****
	 Container
	****/
	#cont-header {
	  margin: 0;
	  margin-top: 10px;
	}
	body#list #cont-main,
	body#top #cont-main {padding-left:10px;padding-right:10px;}
	body#products #cont-main #bread {margin-left:10px;margin-right:10px;}
	body#products #cont-main #recent {padding-left:10px;padding-right:10px;}
	body#products #cont-main #guide {padding-left:10px;padding-right:10px;}
	#main-box {margin:0;padding:0;}
	.container{
	  min-width: 100%;
	}
	#side-bar {padding-left: 10px;padding-right: 10px;}
	#cont-footer {
	  padding:15px;
	}

	/*****
	  Header
	*****/
	#header-logo img {
	  display: block;
	  width: 40%;
	  margin:0px auto;
	}
	#header-menu-sp {
	  padding:5px auto;
	}
	#header-menu-sp #menu-sp {
	  margin:5px auto;
	}
	#header-menu-sp #menu-sp li {
	  display: inline-block;
	  line-height: 8px;
	  margin:5px;
	}
	#header-menu-sp #menu-sp li a {
	  display: block;
	}

	#sp-navi-menu {
	  display: none;
	  position: absolute;
	  margin: 0;
	  padding:0;
	  top:80px;
	  z-index:999;
	  right:2%;
	  border-bottom: 1px solid #887f69;
	  background-color: #e2ddd4;
	}
	#sp-navi-menu li {
	  list-style: none;
	  margin: 0;
	  padding:0;
	}
	#sp-navi-menu li a {
          display: block;
          padding: 10px 8px;

	  font-weight: bold;
          text-decoration: none;
	  border-top: 1px solid #887f69;
	  border-left: 1px solid #887f69;
	  border-right: 1px solid #887f69;
	}

	/****
	  eye-catch
	****/
	#eye-catch {
	  /*height: 90px;*/
	  /*margin: 10px auto;*/
	  /*margin-bottom: 40px;*/
	}

	/****
	  item-container
	****/
	.item-container-top {
	  text-align: left;
	}
	.item-container-top .item-container-top-tab {
	  display: block;
	  width: 40%;
	  margin: 30px auto;
	}
	.item-container-top .item-boxs {}
	.item-container-top .item-box {
	  min-width: 0;
	  width: 49.5%;
	  margin: 0;
	  margin-bottom: 2px;
	  padding: 14px;
	  background-color: #FFF;

	  font-size: 22px;	
	  font-size: 2.2rem;	
	  color:#000;
	}

	.item-container-top .item-box.item-box-center {
	  margin-right: 0px;
	  margin-left: 0px;
	}
	.item-container-top .item-box.item-box-sp-right {
	  margin-left: 1%;
	}
	.item-container-top .item-box-guide {
	  width:100%;
	  margin:0;
	  margin-bottom: 10px;
	  padding: 20px;
	  background-color: #FFF;
	}
	.item-container-top .item-box-guide.right {
	  margin-left:6px;
	}
	.item-container-top .item-box-guide h3 {
	  color: #887f69;
	  font-size: 16px;
	  font-size: 1.6rem;
	  font-weight: bold;
	}
	.item-container-top .item-box-guide h4 {
	  margin-top: 10px;
	  margin-bottom: 5px;
	  color: #887f69;
	  font-size: 12px;
	  font-size: 1.2rem;
	  font-weight: bold;
	}
	.item-container-top .item-box-guide .guide-info {
	  margin: 5px 0;
	  color: #000;
	  font-size: 11px;
	  font-size: 1.1rem;
	}
	.item-container-top .item-box-guide .img-cards {
	  width: 100%;
	}

	/******
	  Side Block
	******/
	/*****
	  Side Bar : #side-bar
	*****/

	/*** search ***/
	.side-block-item.search {}
	.side-block-item.search img.tab-search {
	  display: none;
	}
	.side-block-item.search form {
	  width: 100%;
	}
	.side-block-item.search input.search {
	  box-sizing: border-box;
	  width: 90%;
	  margin:0;
	  padding:0;
	  padding-left: 10px;
	  float:left;
	
	  border-radius: 0px;
	  -webkit-border-radius: 0px;
	  -moz-border-radius: 0px;
	  border:0px;
	
	  background-color: #eeeeee;
	}
	.side-block-item.search input.search-submit {
	  box-sizing: border-box;
	  float:left;
	  width: 10%;
	  padding: 7px;
	  background-color: #eeeeee;
	}

	.side-block-item.item-info {
	  min-height: 170px;
	  padding: 10px 10px 5px 10px;
	  background-color: #FFF;
	  text-align: center;
	}
	.side-block-item img {float:left; width: 50%;}
	.side-block-item-info {
	  box-sizing: border-box;
	  float: right;
	  width: 50%;
	  padding: 0 6px;
	  text-align: left;
	  word-wrap: break-word;
	}
	
	#page-top {
	  text-align: center;
	}


	/*****
	  List Page
	*****/
	#cat-banner {
	  margin:0;
	  height:auto;
	}

	/*****
	  Products Page
	*****/
	.item-quantity {
	  margin:0;
	  padding:0;
	}
	.item-quantity > div.quantity-block {
	  border-top: 1px solid #e3e8cf;
	  height: 75px;
	  padding: 10px 0;
	}
	.item-quantity > div > p {
	  margin:0;
	  padding:0;
	}
	.item-quantity > div > p.title {
	  margin: 20px 0;
	  width: 120px;
	}
	.item-quantity > div > p.value-area {margin: 10px 0;}
	.item-quantity > div > p.value-area span {font-style: italic;}
	.item-quantity > div > p.value-area span.yen {color:#e80f66;font-size:14px;}
	.item-quantity > div > p.value-area span.price {color:#e80f66;font-size:22px;}
	.item-quantity > div > p.value-area span.tax {color:#000;font-size:14px;}
	.item-quantity > div > p > input.text {
	  border-radius: 0px;
	  margin:0;
	  padding: 10px;
	}

	/***** PRODUCT PAGE *****/
	#item-details {
	  /*width:116%;*/
	  padding: 20px 15px;
	  margin:0;
	  /*margin-left:-8%;*/
	}
	
	h1.item-name,
	.item-number {
	  text-align:left;
	}
	.slider-box {
	  min-width: 100%;
	  margin: 0;
	  padding: 0;
	  border-top: 1px solid #e3e8cf;
	}
	#display-img {
	  width: 100%;
	  padding:0;
	}
	#display-img img {
	  width: 100%;
	}
	#list-img {
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 0;
	  margin-bottom: 3%;
	  font-size:0;
	}
	#list-img li {
	  box-sizing: border-box;
	  width: 20%;
	  height:auto;
	  margin:0;
	  padding:0;
	  list-style: none;
	}
	#list-img li.paneling {
	  box-sizing: border-box;
	  padding-left: 1px;
	}

	.item-color {text-align:left;}
	.item-color table th,
	.item-color table td {
	  width:33.3%;
	  margin:0;
	  padding: 5px auto;
	  text-align: center;
	}
	.item-description {
	  text-align: left;
	}
	.item-description table th {
	  width:25%;
	}
	.item-description table td {
	  padding:5px;
	  text-align: left;
	}

	
	.item-quantity {
	  margin:0;
	  padding:0;
	}
	.item-quantity > div.quantity-block {
	  border-top: 1px solid #e3e8cf;
	  height: auto;
	  padding: 10px 0;
	}
	.item-quantity > div > p {
	  margin:0;
	  padding:0;
	}
	.item-quantity > div > p.title {
	  margin: 10px 0;
	  width: auto;
	}
	.item-quantity > div > p.value-area {margin:0;padding:0;}
	.item-quantity > div.quantity-block.quant {
	  border-bottom: 1px solid #e3e8cf;
	}

	.add-cart {
	  clear:both;
	  margin-top:3%;
	}

	
}

